
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#logo {
    color: #f08804;
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
}

#navbar input {
    margin-left: auto;
    padding: 6px;
    width: 200px;
    border-radius: 3px;
    border: none;
}

#navbar button {
    padding: 6px 12px;
    margin-left: 5px;
    background-color: #f08804;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 3px;
}

#content {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(17, 75, 75);
}

.contentBox {
    height: 150px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
}

footer {
    height: 50px;
    background-color: #0f1111;
    color: white;
    text-align: center;
    line-height: 50px;
}
